{% extends "base.html" %}
{% block content %}
    <div class="about">
        <h1><a href="{% url "nedvizhka" %}">Главная</a> > О нас</h1>
    </div>
    <div class="info">
        <h1>О нас</h1>
        <h2>Недвижка.бай — площадка недвижимости №1 в Беларуси*</h2>
        <a>У нас самая полная и уникальная база объектов недвижимости Беларуси, а разместить объявление в любой
            категории можно быстро, легко и бесплатно. Мы поставляем на рынок уникальную аналитическую информацию и
            создаем контент по сопутствующим темам: строительство, дизайн, ремонт, городская жизнь, юридические
            тонкости.</a>

        <a>*По видимости в поисковых системах по данным исследования компании Artox Media Digital Group, 2022.</a>
        <h2>Аудитория</h2>
        <a>Ежемесячная аудитория Недвижка.бай превышает 1,5 миллиона уникальных пользователей, а по данным Similarweb
            Недвижка.бай является площадкой №1 в Беларуси по посещаемости.</a>
        <a>На Недвижка.бай размещают более 100 000 объявлений ежемесячно.</a>
        <h2>Площадка предлагает набор инструментов и аналитических данных</h2>
        <ul>
            <li>Для эффективного поиска квартир, продажи жилой и коммерческой недвижимости</li>
            <li>Для автоматизации продвижения объявлений</li>
            <li>Для получения актуальной и достоверной информации о ценах на недвижимость и динамике их изменения</li>
            <li>Для своевременного информирования о новостях на рынке белорусской и зарубежной недвижимости</li>
            <li>Для ознакомления со списком агентств недвижимости и застройщиков Республики Беларусь</li>
            <li>Для разноформатной рекламы объектов и частного бизнеса</li>
            <li>А ещё Недвижка.бай даёт возможность делиться своей экспертизой и быть частью большого сообщества
                специалистов в
                сфере недвижимости в Беларуси.
            </li>
        </ul>
    </div>
{% endblock %}