{% extends "base.html" %}
{% block content %}
    <div class="navigation">
        <h1><a href="{% url "nedvizhka" %}">Главная</a> > О нас</h1>
    </div>
    <div class="about-us">
        <h1>Добро пожаловать на Недвижка.бай</h1>
        <p>Мы предоставляем платформу, на которой вы можете легко и удобно найти и разместить объявления о продаже
            недвижимости. Наша цель - помочь вам найти покупателя для вашей недвижимости или найти идеальный объект для
            вашей новой жизни.</p>
        <h2>Что мы предлагаем:</h2>
        <ul>
            <li>
                <strong>Обширная база объявлений:</strong> На нашем сайте вы найдете широкий выбор недвижимости, включая
                квартиры, дома, офисы, коммерческие помещения и многое другое. Мы сотрудничаем с продавцами и агентами
                недвижимости, чтобы предоставить вам разнообразные варианты выбора.
            </li>
            <li>
                <strong>Простой поиск и фильтрация:</strong> Наша платформа обеспечивает удобный и быстрый поиск по
                объявлениям. Вы можете применять различные фильтры, чтобы найти недвижимость, которая соответствует
                вашим конкретным требованиям, таким как местоположение, тип недвижимости, размер и цена.
            </li>
            <li>
                <strong>Подробная информация и фотографии:</strong> Каждое объявление содержит подробную информацию о
                недвижимости, включая описание, характеристики, фотографии и контактные данные продавца. Вы сможете
                получить всю необходимую информацию, чтобы принять взвешенное решение.
            </li>
            <li>
                <strong>Безопасность и надежность:</strong> Мы придаем большое значение безопасности нашей платформы. Мы
                проверяем и модерируем объявления, чтобы предоставить вам надежную и безопасную среду для покупки и
                продажи недвижимости. Кроме того, мы обеспечиваем конфиденциальность ваших данных и контактной
                информации.
            </li>
            <li>
                <strong>Простой процесс размещения объявлений:</strong> Если вы продаете недвижимость, вы можете легко
                разместить свое объявление на нашем сайте. Мы предлагаем простую и интуитивно понятную форму, где вы
                сможете указать все необходимые детали о вашей недвижимости.
            </li>
        </ul>
        <p>Мы стремимся предоставить вам лучший опыт в поиске и продаже недвижимости. Наша платформа создана для того,
            чтобы помочь вам сэкономить время и усилия в процессе покупки или продажи недвижимости.</p>
        <h3>Почему выбирают Недвижка.бай?</h3>
        <ul>
            <li>
                <strong>Лидерство на рынке:</strong> Мы являемся лидером в сфере онлайн-платформ для продажи
                недвижимости. Наша репутация и надежность привлекают множество продавцов и покупателей, что позволяет
                нам предложить большой выбор объявлений.
            </li>
            <li>
                <strong>Профессиональная команда:</strong> Наша команда состоит из опытных специалистов в сфере
                недвижимости, которые готовы предоставить вам профессиональную помощь и консультацию на каждом этапе
                сделки.
            </li>
            <li>
                <strong>Надежная платформа:</strong> Мы обеспечиваем безопасность и конфиденциальность ваших данных.
                Наша платформа защищена передовыми технологиями, чтобы вы могли совершать сделки с уверенностью.
            </li>
            <li>
                <strong>Широкий выбор:</strong> У нас есть разнообразие недвижимости, соответствующей различным
                потребностям и бюджетам. Вы сможете найти то, что идеально подходит именно для вас.
            </li>
            <li>
                <strong>Простота и удобство:</strong> Наш сайт разработан с учетом удобства использования. Вы сможете
                легко найти искомую недвижимость и связаться с продавцами.
            </li>
        </ul>
        <p>Присоединяйтесь к нам сегодня и начните вашу недвижимостную путешествие с Недвижка.бай!</p>
    </div>
{% endblock %}