{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-white border border-light sticky-top">
    <div class="container-md">
        <a class="navbar-brand" href="#">Недвижка.бай</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "nedvizhka" %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "about" %}">О нас</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Продажа
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "flat" %}">Квартиры</a></li>
                        <li><a class="dropdown-item" href="{% url "house" %}">Дома, коттеджи, усадьбы</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url "garage" %}">Гаражи</a></li>
                        <li><a class="dropdown-item" href="{% url "parking" %}">Стоянки</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Коммерческая
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "office" %}">Офисы</a></li>
                        <li><a class="dropdown-item" href="{% url "warehouse" %}">Склады</a></li>
                        <li><a class="dropdown-item" href="{% url "trade" %}">Торговые павильоны</a></li>
                        <li><a class="dropdown-item" href="{% url "industrial" %}">Технические помещения</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex gap-3">
                <div class="d-grid gap-2 d-md-block">
                    <a class="btn btn-success" href="{% url "create" %}" role="button">+ Добавить объявление</a>
                    <a class="btn btn-success" href="{% url "account_login" %}" role="button">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<style>
    .no-decoration a {
        text-decoration: none;
        color: black;
    }
</style>
<div class="d-flex bg-light">
    <div class="container-md">
        <div class="row">
            <div class="col flex-grow-1">
                <h4>Реклама на сайте</h4>
                <p>+375 (12) 345-67-89</p>
                <p>+375 (12) 345-67-89</p>
                <p>+375 (12) 345-67-89</p>
                <p>+375 (12) 345-67-89</p>
            </div>
            <div class="col flex-grow-1">
                <h4>Справочный центр</h4>
                 <p class="no-decoration"><a href="#">Как подать объявление</a></p>
                 <p class="no-decoration"><a href="#">Как стать частью Nedvizhka.by</a></p>
                 <p class="no-decoration"><a href="#">Партнёрство</a></p>
                 <p class="no-decoration"><a href="#">Поддержка</a></p>
            </div>
            <div class="col flex-grow-1">
                <h4>Недвижимость</h4>
                <p class="no-decoration"><a href="{% url "flat" %}">Квартиры</a></p>
                <p class="no-decoration"><a href="{% url "house" %}">Дома, коттеджи, усадьбы</a></p>
                <p class="no-decoration"><a href="{% url "garage" %}">Гаражи</a></p>
                <p class="no-decoration"><a href="{% url "parking" %}">Стоянки</a></p>
            </div>
            <div class="col flex-grow-1">
                <h4>Коммерческая</h4>
                <p class="no-decoration"><a href="{% url "office" %}">Офисы</a></p>
                <p class="no-decoration"><a href="{% url "warehouse" %}">Склады</a></p>
                <p class="no-decoration"><a href="{% url "trade" %}">Торговые павильоны</a></p>
                <p class="no-decoration"><a href="{% url "industrial" %}">Промышленные помещения</a></p>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>