{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Title {% endblock %} </title>
    <link rel="stylesheet" href="{% static "/css/styles.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-buttons">
        <a href="#" class="add-listing-button">+ Добавить объявление</a>
        <a href="{% url 'account_login' %}" class="login-button">Вход</a>
    </div>
</header>
<nav>
    <ul>
        <li><a href="{% url "nedvizhka" %}">Главная</a></li>
        <li><a href="{% url "flat" %}">Продажа</a></li>
        <li><a href="{% url "about" %}">О нас</a></li>
        <li><a href="{% url "profile" %}">Профиль</a></li>
    </ul>
</nav>
<div class="option">
    <a href="{% url 'flat' %}">Квартиры</a>
    <a href="{% url 'house' %}">Дома, коттеджи, усадьбы</a>
    <a href="#">Гаражи</a>
    <a href="#">Стоянки</a>
    <a href="#">Офисы</a>
    <a href="#">Склады</a>
    <a href="#">Торговые павильоны</a>
    <a href="#">Промышленные помещения</a>
</div>
{% block content %}
{% endblock %}
<footer class="footer">
    <div class="column">
        <h4>Реклама на сайте</h4>
        <p>Размещение рекламы:</p>
        <p>+375 (12) 345-67-89</p>
        <p>+375 (12) 345-67-89</p>
        <p>+375 (12) 345-67-89</p>
        <p>+375 (12) 345-67-89</p>
    </div>
    <div class="column">
        <h4>Справочный центр</h4>
        <ul>
            <li><a href="#">Как подать объявление</a></li>
            <li><a href="#">Как стать частью Nedvizhka.by</a></li>
            <li><a href="#">Партнёрство</a></li>
            <li><a href="#">Поддержка</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>Коммерческая</h4>
        <ul>
            <li><a href="#">Офисы</a></li>
            <li><a href="#">Склады</a></li>
            <li><a href="#">Торговые павильоны</a></li>
            <li><a href="#">Промышленные помещения</a></li>
        </ul>
    </div>
    <div class="column">
        <h4>Недвижимость</h4>
        <ul>
            <li><a href="#">Квартиры</a></li>
            <li><a href="#">Дома, коттеджи, усадьбы</a></li>
            <li><a href="#">Гаражи</a></li>
            <li><a href="#">Стоянки</a></li>
        </ul>
    </div>
</footer>
</body>
</html>