{% extends "base.html" %}
{% block title %} Недвижка.бай: купить квартиру {% endblock %}
{% block content %}
    <h3><b>Продажа квартир в Минске</b></h3>
    <div class="container">
        {% for flat in flat_list %}
            <div class="product-card">
                <img src="#" alt="Фото товара">
                <div class="product-details">
                    <h2>{{ flat.title }}</h2>
                    <h2>{{ flat.address }}</h2>
                    <h2>Общая площадь: {{ flat.total_area }} м&sup2;</h2>
                    <h2>${{ flat.price }}</h2>
                    <p>text</p>
                    <a href="#" class="buy-btn">Показать контакты</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}