{% extends "base.html" %}
{% block title %} Недвижка.бай: купить квартиру {% endblock %}
{% block content %}
    <div class="container-md mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "nedvizhka" %}">Главная</a></li>
                <li class="breadcrumb-item"><a href="#">Продажа</a></li>
                <li class="breadcrumb-item active" aria-current="page">Квартиры</li>
            </ol>
        </nav>
    </div>
    <div class="container-md">
        {% for flat in flat_list %}
            <div class="card" style="width: 36rem;">
                {% if flat.image %}<img src="{{ flat.image.url }}" class="card-img-top" alt="..."> {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ flat.title }}</h5>
                    <p class="card-text">{{ flat.address }}</p>
                    <p class="card-text">${{ flat.price }}</p>
                    <p class="card-text">{{ flat.description|slice:":250" }}...</p>
                    <a href="{{ flat.id }}" class="btn btn-primary">Показать контакты</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{#{% for flat in flat_list %}#}
{#    <div class="product-card">#}
{#        {% if flat.image %}<img style="max-height: 360px" src="{{ flat.image.url }}"> {% endif %}#}
{#        <div class="product-details">#}
{#            <h2>{{ flat.title }}</h2>#}
{#            <h3>{{ flat.address }}</h3>#}
{#            <h3><b>$</b>{{ flat.price }}</h3>#}
{#            <h3>Общая площадь: {{ flat.total_area }} м&sup2;</h3>#}
{#            <p>{{ flat.description|slice:":250" }}...</p>#}
{#            <a href="{{ flat.id }}" class="buy-btn">Показать контакты</a>#}
{#        </div>#}
{#    </div>#}
{#{% endfor %}#}