{% extends "base.html" %}
{% block title %} Недвижка.бай: купить квартиру {% endblock %}
{% block content %}
    <div class="navigation">
        <h1><a href="{% url "nedvizhka" %}">Главная</a> > Продажа > Продажа квартир</h1>
    </div>
    <div class="container">
        {% for flat in flat_list %}
            <div class="product-card">
                {% if flat.image %}<img style="max-height: 360px" src="{{ flat.image.url }}"> {% endif %}
                <div class="product-details">
                    <h2>{{ flat.title }}</h2>
                    <h3>{{ flat.address }}</h3>
                    <h3>Общая площадь: {{ flat.total_area }} м&sup2;</h3>
                    <h3><b>$</b>{{ flat.price }}</h3>
                    <p>text</p>
                    <a href="{{ flat.id }}" class="buy-btn">Показать контакты</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}