{% extends "base.html" %}
{% block title %} Недвижка.бай: {{ house.number_of_floors }}-этажный {{ house.get_category_display }}
    {{ house.address }}
{% endblock %}
{% block content %}
    <div class="container-md mt-3 mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "nedvizhka" %}">Главная</a></li>
                <li class="breadcrumb-item"><a href="#">Продажа</a></li>
                <li class="breadcrumb-item"><a href="{% url "house" %}">Дома, коттеджи, усадьбы</a></li>
                <li class="breadcrumb-item active"
                    aria-current="page">{{ house.number_of_floors }}-этажный {{ house.get_category_display }} {{ house.address }}</li>
            </ol>
        </nav>
    </div>
    <div class="container-md mt-3 mb-3">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            {% if house.image %}
                                <img src="{{ house.image.url }}" class="d-block w-100" alt="..." style="width: 100%; height: 450px">
                            {% endif %}
                        </div>
                        <div class="carousel-item">
                            {% if house.image_2 %}
                                <img src="{{ house.image_2.url }}" class="d-block w-100" alt="..." style="width: 100%; height: 450px">
                            {% endif %}
                        </div>
                        <div class="carousel-item">
                            {% if house.image_3 %}
                                <img src="{{ house.image_3.url }}" class="d-block w-100" alt="..." style="width: 100%; height: 450px">
                            {% endif %}
                        </div>
                        <div class="carousel-item">
                            {% if house.image_4 %}
                                <img src="{{ house.image_4.url }}" class="d-block w-100" alt="..." style="width: 100%; height: 450px">
                            {% endif %}
                        </div>
                        <div class="carousel-item">
                            {% if house.image_5 %}
                                <img src="{{ house.image_5.url }}" class="d-block w-100" alt="..." style="width: 100%; height: 450px">
                            {% endif %}
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-3">
                <h1>${{ house.price }}</h1>
                <p class="lead">{{ house.number_of_floors }}-этажный {{ house.get_category_display }}</p>
                {% if house.district %}
                    <p>{{ house.get_district_display }} район</p>
                {% endif %}
                <p><strong>Адрес:</strong> {{ house.address }}</p>
                {% if house.subway %}
                    <p><strong>Cтанция метро: </strong>{{ house.get_subway_display }}</p>
                {% endif %}
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Позвонить
                </button>
                <!-- Modal -->
                <div class=" modal fade
                " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Контакты продавца</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><strong>Имя:</strong> {{ house.creator.profile.first_name }}</p>
                                <p><strong>Номер телефона:</strong> {{ house.creator.profile.phone_number }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Параметры объекта:</h2>
                <p><strong>Количество этажей:</strong> {{ house.number_of_floors }}</p>
                <p><strong>Количество комнат:</strong> {{ house.number_of_rooms }}</p>
                <p><strong>Санузел:</strong> {{ house.get_bathroom_display }}</p>
                <p><strong>Отопление:</strong> {{ house.get_heating_display }}</p>
                <p><strong>Вода:</strong> {{ house.get_water_display }}</p>
                <p><strong>Канализация:</strong> {{ house.get_sewerage_display }}</p>
                <p><strong>Общая площадь:</strong> {{ house.total_area }} м²</p>
                <p><strong>Жилая площадь:</strong> {{ house.living_area }} м²</p>
                {% if house.kitchen %}
                    <p><strong>Площадь кухни:</strong> {{ house.kitchen }} м²</p>
                {% endif %}
                <p><strong>Состояние:</strong> {{ house.get_condition_display }}</p>
                <p><strong>Ремонт:</strong> {{ house.get_renovation_display }}</p>
                <p><strong>Год постройки:</strong> {{ house.year_of_construction }}</p>
                {% if house.facilities %}
                    <p><strong>Обустройство дома:</strong> {{ house.facilities }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Описание</h2>
                <p>{{ house.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}
