{% extends "base.html" %}
{% block title %} Недвижка.бай: {{ house.title }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="address-title">
            <p>г. Минск {{ house.address }}</p>
            <h2>{{ house.title }}</h2>
            <div class="product-photo">
                {% if house.image %}
                    <img style="max-height: 360px" src="{{ house.image.url }}">
                {% endif %}
            </div>

            <div><h2>Описание: </h2>
                {{ house.description }}
            </div>
            <div class="parameters">
                <h2>Параметры объекта</h2>
                <p>Общая площадь: {{ house.total_area }} м²</p>
                <p>Год постройки: {{ house.year_of_construction }}</p>
                <p>Ремонт: {{ house.get_renovation_display }}</p>
                {% if house.facilities %}
                    <p>{{ house.facilities }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}