{% extends "base.html" %}
{% block title %} Недвижка.бай: главная {% endblock %}
{% block content %}
    <div class="container-md mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Главная</li>
            </ol>
        </nav>
    </div>
    <div class="container-md mt-3 mb-3">
        <form method="GET" action="{% url 'real_estate_search' %}" class="d-flex" role="search">
            <input class="form-control me-2" type="text" name="search" id="id_search"
                   placeholder="Введите поисковый запрос...">
            <button class="btn btn-success" type="submit">Поиск</button>
        </form>
    </div>
    <div class="container-md mt-3 mb-3">
        <h2>Найдите свою идеальную недвижимость</h2>
    </div>
    <div class="container-md mt-3 mb-3">
        <p>На нашем сайте вы найдете широкий выбор недвижимости для продажи и аренды. Мы предлагаем квартиры,
            дома,
            офисы,
            коммерческие помещения и многое другое.</p>
        <p>Используйте наш удобный поиск и фильтры, чтобы найти недвижимость, которая соответствует вашим
            требованиям по
            местоположению, размеру, цене и другим параметрам.</p>
        <p>Просматривайте подробную информацию, фотографии, контактные данные продавца и выбирайте самые
            подходящие
            варианты
            для
            вас.</p>
    </div>
    <div class="container-md mt-3 mb-3">
        <h3>Квартира:</h3>
        <p>Категория "Квартира" включает в себя различные типы жилых помещений, предназначенных для
            проживания.
            Здесь вы можете найти объявления о продаже и аренде квартир различной площади, количества
            комнат,
            этажности и расположения. Квартиры являются одним из наиболее популярных вариантов
            недвижимости
            и
            предлагают удобство и комфорт для жизни в городе.</p>
        {% if flat_queryset %}
            <div class="row">
                {% for flat in flat_queryset|slice:"4" %}
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            {% if flat.image %}
                                <img src="{{ flat.image.url }}" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <a style="text-decoration: none; color: black;" href="http://127.0.0.1:8000/sale/flat/{{ flat.id }}">
                                    <h4>{{ flat.title }}</h4>
                                </a>
                                <p class="card-text">{{ flat.description|slice:":250" }}...</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="container-md mt-3 mb-3">
        <h3>Дом, коттедж, усадьба:</h3>
        <p>В категории "Дом, коттедж, усадьба" вы найдете различные типы жилых домов, предназначенных
            для
            проживания семей или индивидуального использования. Здесь можно найти как небольшие
            загородные
            коттеджи, так и просторные усадьбы с большой территорией. Дома, коттеджи и усадьбы
            предлагают
            больше
            пространства, частную территорию и возможность создать свой уютный уголок вдали от городской
            суеты.</p>
        {% if house_queryset %}
            {% for house in house_queryset|slice:":5" %}
                <div class="card" style="width: 18rem;">
                    {% if house.image %}
                        <img src="{{ house.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <a href="http://127.0.0.1:8000/sale/flat/{{ flat.id }}"><h4>{{ house.title }}</h4>
                        </a>
                        <p class="card-text">{{ house.description|slice:":250" }}...</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container-md mt-3 mb-3">
        <h3>Гараж:</h3>
        <p>Категория "Гараж" предлагает объявления о продаже гаражей и парковочных мест. Гаражи
            предназначены для хранения автомобилей и другой техники, а также могут использоваться в
            качестве
            мастерских или складских помещений. Здесь вы можете найти различные типы гаражей, включая
            отдельные
            гаражи, гаражные кооперативы и парковки.</p>
        {% if garage_queryset %}
            {% for garage in garage_queryset|slice:":5" %}
                <div class="card" style="width: 18rem;">
                    {% if garage.image %}
                        <img src="{{ garage.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <a href="http://127.0.0.1:8000/sale/flat/{{ garage.id }}"><h4>{{ garage.title }}</h4>
                        </a>
                        <p class="card-text">{{ garage.description|slice:":250" }}...</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container-md mt-3 mb-3">
        <h3>Стоянка:</h3>
        <p>Категория "Стоянка" включает в себя объявления о продаже парковочных мест и стоянок для
            автомобилей. Здесь вы можете найти предложения о парковке в городе, бизнес-центрах,
            аэропортах и
            других местах. Стоянки предоставляют удобное место для временного или постоянного хранения
            автомобилей, обеспечивая безопасность и доступность.</p>
        {% if parking_queryset %}
            {% for parking in parking_queryset|slice:":5" %}
                <div class="ad">
                    {% if parking.image %}
                        <img style="max-height: 128px" src="{{ parking.image.url }}"> {% endif %}
                    <a href="http://127.0.0.1:8000/sale/parking/{{ parking.id }}">
                        <h4>{{ parking.title }}</h4>
                    </a>
                    <p>{{ parking.description|slice:'64' }}..</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container-md mt-3 mb-3">
        <h3>Офис:</h3>
        <p>Категория "Офис" предлагает объявления о продаже офисных помещений. Здесь вы можете
            найти
            различные типы офисов, включая офисы в бизнес-центрах, отдельные здания, офисные помещения в
            многофункциональных комплексах и другие. Офисы предназначены для работы и предоставляют
            комфортные
            условия для бизнеса и организаций.</p>
        {% if office_queryset %}
            {% for office in office_queryset|slice:":5" %}
                <div class="ad">
                    {% if office.image %}
                        <img style="max-height: 128px" src="{{ office.image.url }}"> {% endif %}
                    <a href="http://127.0.0.1:8000/sale/office/{{ office.id }}">
                        <h4>{{ office.title }}</h4></a>
                    <p>{{ office.description|slice:'64' }}..</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container-md mt-3 mb-3">
        <h3>Склад:</h3>
        <p>Категория "Склад" включает в себя объявления о продаже складских помещений. Здесь вы
            можете
            найти различные типы складов, включая складские комплексы, отдельные складские помещения,
            хранилища
            и другие. Склады предназначены для хранения и хранения товаров, оборудования и других
            материалов
            и
            предлагают просторное пространство и удобства для логистики и бизнеса.</p>
        {% if warehouse_queryset %}
            {% for warehouse in warehouse_queryset|slice:":5" %}
                <div class="ad">
                    {% if warehouse.image %}
                        <img style="max-height: 128px" src="{{ warehouse.image.url }}"> {% endif %}
                    <a href="http://127.0.0.1:8000/sale/warehouse/{{ warehouse.id }}">
                        <h4>{{ warehouse.title }}</h4></a>
                    <p>{{ warehouse.description|slice:'64' }}..</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container-md mt-3 mb-3">
        <h3>Торговый павильон:</h3>
        <p>Категория "Торговый павильон" предлагает объявления о продаже и аренде торговых площадей и
            павильонов. Здесь вы можете найти предложения о торговых помещениях в торговых центрах.
        </p>
        {% if trade_queryset %}
            {% for trade in trade_queryset|slice:":5" %}
                <div class="ad">
                    {% if trade.image %}
                        <img style="max-height: 128px" src="{{ trade.image.url }}"> {% endif %}
                    <a href="http://127.0.0.1:8000/sale/trade/{{ trade.id }}"><h4>{{ trade.title }}</h4>
                    </a>
                    <p>{{ trade.description|slice:'64' }}..</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container-md mt-3 mb-3">
        <h3>Техническое помещение:</h3>
        <p>Категория "Техническое помещение" предназначена для размещения объявлений о продаже и аренде
            помещений, предназначенных для технических и производственных целей. Здесь вы найдете
            предложения о
            складских помещениях, производственных цехах, мастерских и других помещениях,
            предназначенных для
            осуществления технической деятельности.</p>
        {% if industrial_queryset %}
            {% for industrial in industrial_queryset|slice:":5" %}
                <div class="ad">
                    {% if  industrial.image %}
                        <img style="max-height: 128px" src="{{ industrial.image.url }}"> {% endif %}
                    <a href="http://127.0.0.1:8000/sale/industrial/{{ industrial.id }}">
                        <h4>{{ industrial.title }}</h4></a>
                    <p>{{ industrial.description|slice:'64' }}..</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}