{% extends "base.html" %}
{% block title %} Недвижка.бай: купить квартиру {% endblock %}
{% block content %}
    <h2>Найдите свою идеальную недвижимость</h2>
    <p>На нашем сайте вы найдете широкий выбор недвижимости для продажи и аренды. Мы предлагаем квартиры, дома, офисы,
        коммерческие помещения и многое другое.</p>
    <p>Используйте наш удобный поиск и фильтры, чтобы найти недвижимость, которая соответствует вашим требованиям по
        местоположению, размеру, цене и другим параметрам.</p>
    <p>Просматривайте подробную информацию, фотографии, контактные данные продавца и выбирайте самые подходящие варианты
        для
        вас.</p>
{% endblock %}