{% extends 'base.html' %}
{% block title %} Недвижка.бай: результаты поиска {% endblock %}
{% block content %}
    <div class="container">
        {% if results %}
            {% for obj in results %}
                <div class="product-card">
                    {% if obj.image %}<img style="max-height: 360px" src="{{ obj.image.url }}"> {% endif %}
                    <div class="product-details">
                        <a href="{{ obj.id }}"><h2>{{ obj.title }}</h2></a>
                        <h3>{{ obj.address }}</h3>
                        <h3>Общая площадь: {{ obj.total_area }} м&sup2;</h3>
                        <h3><b>$</b>{{ obj.price }}</h3>
                        <p>text</p>
                        <a href="#" class="buy-btn">Показать контакты</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Ничего не найдено.</p>
        {% endif %}
    </div>
{% endblock %}