{% extends "base.html" %}
{% block title %} Недвижка.бай: купить склад {% endblock %}
{% block content %}
    <div class="navigation">
        <h1><a href="{% url "nedvizhka" %}">Главная</a> > Продажа > Продажа складов</h1>
    </div>
    <div class="container">
        {% for warehouse in warehouse_list %}
            <div class="product-card">
                {% if garage.image %}<img style="max-height: 360px" src="{{ warehouse.image.url }}"> {% endif %}
                <div class="product-details">
                    <a href="{{ warehouse.id }}"><h2>{{ warehouse.title }}</h2></a>
                    <h3>{{ warehouse.address }}</h3>
                    <h3>Общая площадь: {{ warehouse.total_area }} м&sup2;</h3>
                    <h3><b>$</b>{{ warehouse.price }}</h3>
                    <p>text</p>
                    <a href="#" class="buy-btn">Показать контакты</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}