body {
    font-size: 14px;
    font-family: sans-serif;
    margin: 0;
    background-color: white;
}

header {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: red;
    padding: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #666;
}

footer {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: grey;
    height: 600px;

}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    align-items: center;
    border-radius: 15px;
    width: 800px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.product-card img {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.product-details {
    flex-grow: 1;
    padding: 20px;
}

.product-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details p {
    margin-bottom: 20px;
}

.buy-btn {
    display: inline-block;
    background-color: gold;
    color: #1b1b1b;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    float: right;
}

.buy-btn:hover {
    background-color: goldenrod;
}