body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: white;
}

header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    display: flex;
    margin-left: auto;
}

header a {
    display: inline-block;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 50px;
    font-size: 12px;
    margin-right: 10px;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

header a:hover {
    background-position: right center;
}

nav {
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #9EEFE1;
}

footer {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: grey;
    height: 600px;

}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.about {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 10px 20px;
    font-size: 8px;
    text-decoration: none;
}

.about a {
    color: black;
    text-decoration: none;
}

.info {
    justify-content: left;
    flex-wrap: wrap;
    margin: 10px 20px;
    text-decoration: none;
}

.product-card {
    height: 360px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 800px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.product-card img {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.product-details {
    flex-grow: 1;
    padding: 20px;
}

.product-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.product-details h2:hover {
    color: #9EEFE1;
}

.product-details p {
    margin-bottom: 20px;
}

.product-details a {
    text-decoration: none;
    color: white;
}

.buy-btn {
    display: inline-block;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    padding: 10px 20px;
    text-decoration: none;
    float: right;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 50px;
    font-size: 14px;
    margin-right: 10px;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.buy-btn:hover {
    background-position: right center;
}
