{% extends "base.html" %}
{% block title %} Недвижка.бай: добавить объявление {% endblock %}
{% block content %}
    <div class="container-md mt-3 mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="text-decoration: none; color: black;" href="{% url "nedvizhka" %}">Главная</a></li>
                <li class="breadcrumb-item"><a style="text-decoration: none; color: black;" href="{% url "account_login" %}">Профиль</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cоздание объявления</li>
            </ol>
        </nav>
    </div>
    <div class="container-md mt-3 mb-3">
        <h1>Выберите тип недвижимости: </h1>
        <ul class="list-group list-group-flush" style="list-style-type: none; font-size: 28px">
            <li class="list-group-item"><a style="text-decoration: none; color: black;" href="{% url "create_flat" %}">Квартира</a>
            </li>
            <li class="list-group-item"><a style="text-decoration: none; color: black;" href="{% url "create_house" %}">Дом,
                коттедж, усадьба</a></li>
            <li class="list-group-item"><a style="text-decoration: none; color: black;"
                                           href="{% url "create_garage" %}">Гараж</a></li>
            <li class="list-group-item"><a style="text-decoration: none; color: black;"
                                           href="{% url "create_parking" %}">Стоянка</a></li>
            <li class="list-group-item"><a style="text-decoration: none; color: black;"
                                           href="{% url "create_warehouse" %}">Склад</a></li>
            <li class="list-group-item"><a style="text-decoration: none; color: black;"
                                           href="{% url "create_office" %}">Офис</a></li>
            <li class="list-group-item"><a style="text-decoration: none; color: black;" href="{% url "create_trade" %}">Торговый
                павильон</a></li>
            <li class="list-group-item"><a style="text-decoration: none; color: black;"
                                           href="{% url "create_industrial" %}">Промышленные помещения</a></li>
        </ul>
    </div>
{% endblock %}