{% extends "base.html" %}
{% block title %} Недвижка.бай: добавить объявление {% endblock %}
{% block content %}
    <div class="container-md mt-3 mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "nedvizhka" %}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url "account_login" %}">Профиль</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cоздание объявления</li>
            </ol>
        </nav>
    </div>
    <div class="container-md mt-3 mb-3">
        <h1>Выберите тип недвижимости: </h1>
        <h2>Недвижимость</h2>
        <ul>
            <li><a href="{% url "create_flat" %}">Квартира</a></li>
            <li><a href="{% url "create_house" %}">Дом, коттедж, усадьба</a></li>
            <li><a href="{% url "create_garage" %}">Гараж</a></li>
            <li><a href="{% url "create_parking" %}">Стоянка</a></li>
        </ul>
        <h2>Коммерческая</h2>
        <ul>
            <li><a href="{% url "create_warehouse" %}">Склад</a></li>
            <li><a href="{% url "create_office" %}">Офис</a></li>
            <li><a href="{% url "create_trade" %}">Торговый павильон</a></li>
            <li><a href="{% url "create_industrial" %}">Промышленные помещения</a></li>
        </ul>
    </div>
{% endblock %}