{% extends "base.html" %}
{% block title %} Недвижка.бай: профиль {% endblock %}
{% block content %}
    <div class="container">
        <div class="product-info">
            <h2>Добро пожаловать в Ваш личный кабинет, <b>{{ profile.first_name }}</b>!</h2>
            <p>Имя: {{ profile.first_name }}</p>
            <p>Фамилия: {{ profile.last_name }}</p>
            {% if profile.user.email %}
                <p>Электронная почта: {{ profile.user.email }}</p>
            {% endif %}
            {% if profile.phone_number %}
                <p>Номер телефона: {{ profile.phone_number }}</p>
            {% endif %}
            <p>Дата регистрации: {{ profile.user.date_joined }}</p>
            <button>
                <a href="{% url "edit_profile" %}">Изменить</a>
            </button>
            <button>
                <a href="{% url "account_logout" %}">Выйти</a>
            </button>
            <h2>Список моих объявлений:</h2>
            {% if flat_queryset %}
                <h3>Квартиры:</h3>
                {% for flat in flat_queryset %}
                    <a href="http://127.0.0.1:8000/sale/flat/{{ flat.id }}"><p>{{ flat.title }}</p></a>
                    <a href="http://127.0.0.1:8000/sale/flat/{{ flat.id }}/edit">Изменить</a>
                    <a href="http://127.0.0.1:8000/sale/flat/{{ flat.id }}/delete">Удалить</a>
                {% endfor %}
            {% endif %}
            {% if house_queryset %}
                <h3>Дома, коттеджи, усадьбы:</h3>
                {% for house in house_queryset %}
                    <a href="http://127.0.0.1:8000/sale/house/{{ house.id }}"><p>{{ house.title }}</p></a>
                    <a href="http://127.0.0.1:8000/sale/house/{{ house.id }}/edit">Изменить</a>
                    <a href="http://127.0.0.1:8000/sale/house/{{ house.id }}/delete">Удалить</a>
                {% endfor %}
            {% endif %}
            {% if garage_queryset %}
                <h3>Гаражи:</h3>
                {% for garage in garage_queryset %}
                    <a href="http://127.0.0.1:8000/sale/garage/{{ garage.id }}"><p>{{ garage.title }}</p></a>
                    <a href="http://127.0.0.1:8000/sale/garage/{{ garage.id }}/edit">Изменить</a>
                    <a href="http://127.0.0.1:8000/sale/garage/{{ garage.id }}/delete">Удалить</a>
                {% endfor %}
            {% endif %}
            {% if parking_queryset %}
                <h3>Стоянки:</h3>
                {% for parking in parking_queryset %}
                    <a href="http://127.0.0.1:8000/sale/parking/{{ parking.id }}"><p>{{ parking.title }}</p></a>
                    <a href="http://127.0.0.1:8000/sale/parking/{{ parking.id }}/edit">Изменить</a>
                    <a href="http://127.0.0.1:8000/sale/parking/{{ parking.id }}/delete">Удалить</a>
                {% endfor %}
            {% endif %}
            {% if warehouse_queryset %}
                <h3>Склады:</h3>
                {% for warehouse in warehouse_queryset %}
                    <a href="http://127.0.0.1:8000/sale/warehouse/{{ warehouse.id }}"><p>{{ warehouse.title }}</p></a>
                    <a href="http://127.0.0.1:8000/sale/warehouse/{{ warehouse.id }}/edit">Изменить</a>
                    <a href="http://127.0.0.1:8000/sale/warehouse/{{ warehouse.id }}/delete">Удалить</a>
                {% endfor %}
            {% endif %}
            {% if office_queryset %}
                <h3>Офисы:</h3>
                {% for office in office_queryset %}
                    <a href="http://127.0.0.1:8000/sale/office/{{ office.id }}"><p>{{ office.title }}</p></a>
                    <a href="http://127.0.0.1:8000/sale/office/{{ office.id }}/edit">Изменить</a>
                    <a href="http://127.0.0.1:8000/sale/office/{{ office.id }}/delete">Удалить</a>
                {% endfor %}
            {% endif %}
            {% if trade_queryset %}
                <h3>Торговые павильоны:</h3>
                {% for trade in trade_queryset %}
                    <a href="http://127.0.0.1:8000/sale/trade/{{ trade.id }}"><p>{{ trade.title }}</p></a>
                    <a href="http://127.0.0.1:8000/sale/trade/{{ trade.id }}/edit">Изменить</a>
                    <a href="http://127.0.0.1:8000/sale/trade/{{ trade.id }}/delete">Удалить</a>
                {% endfor %}
            {% endif %}
            {% if industrial_queryset %}
                <h3>Промышленные помещения:</h3>
                {% for industrial in industrial_queryset %}
                    <a href="http://127.0.0.1:8000/sale/industrial/{{ industrial.id }}"><p>{{ industrial.title }}</p></a>
                    <a href="http://127.0.0.1:8000/sale/industrial/{{ industrial.id }}/edit">Изменить</a>
                    <a href="http://127.0.0.1:8000/sale/industrial/{{ industrial.id }}/delete">Удалить</a>}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}