{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="product-info">
            <h2>Добро пожаловать в Ваш личный кабинет, <b>{{ profile.first_name }}</b>!</h2>
            <p>Имя: {{ profile.first_name }}</p>
            <p>Фамилия: {{ profile.last_name }}</p>
            {% if profile.user.email %}
                <p>Электронная почта: {{ profile.user.email }}</p>
            {% endif %}
            <p>Дата регистрации: {{ profile.user.date_joined }}</p>
            <button>
                <a href="{% url "edit_profile" %}">Изменить</a>
            </button>
            <button>
                <a href="{% url "account_logout" %}">Выйти</a>
            </button>
            <h2>Список моих объявлений:</h2>
            {% if flat_queryset %}
                <h3>Квартиры:</h3>
                {% for flat in flat_queryset %}
                    <p>{{ flat.title }}</p>
                {% endfor %}
            {% endif %}
            {% if house_queryset %}
                <h3>Дома, коттеджи, усадьбы:</h3>
                {% for house in house_queryset %}
                    <p></p>{{ house.title }}
                {% endfor %}
            {% endif %}
            {% if garage_queryset %}
                <h3>Гаражи:</h3>
                {% for garage in garage_queryset %}
                    <p></p>{{ garage.title }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}