{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="product-info">
            <h2>Профиль пользователя</h2>
            <p>Имя: {{ profile.first_name }}</p>
            <p>Фамилия: {{ profile.last_name }}</p>
            {% if profile.user.email %}
                <p>Электронная почта: {{ profile.user.email }}</p>
            {% endif %}
            <p>Дата регистрации: {{ profile.user.date_joined }}</p>
            <button>
                <a href="{% url "edit_profile" %}">Изменить</a>
            </button>
        </div>
    </div>
{% endblock %}